* {
	padding: 0;
	margin: 0;
}

button {
	font-family: "Poppins", sans-serif;
	cursor: pointer;
}

body {
	width: 100%;
	height: 100dvh;
	overflow: hidden;
	background-color: #eee;
	font-family: "Poppins", sans-serif;
	display: grid;
	place-items: center;
}
