body {
	width: 100%;
	height: 100dvh;
	margin: 0;
	padding: 0;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	scroll-behavior: smooth;
	overflow-x: hidden;
	@media screen and (min-width: 1536px) {
		width: 1536px;
		overflow-x: hidden;
		margin: 0px auto;
	}
}
h1 {
	font-family: "Courier New", Courier, monospace;
	@media screen and (min-width: 320px) {
		font-size: 1.5rem;
	}
	@media screen and (min-width: 640px) {
		font-size: 2rem;
	}
	@media screen and (min-width: 1024px) {
		font-size: 2.75rem;
	}
}
h2 {
	@media screen and (min-width: 320px) {
		font-size: 1rem;
	}
	@media screen and (min-width: 640px) {
		font-size: 1rem;
	}
	@media screen and (min-width: 1024px) {
		font-size: 1.25rem;
	}
}
p {
	margin: 0;
	padding: 5px 0;
	color: #000000;
	font-weight: 600;
	@media screen and (min-width: 320px) {
		text-align: center;
		font-size: 0.85rem;
	}
	@media screen and (min-width: 640px) {
		text-align: left;
		font-size: 0.85rem;
	}
	@media screen and (min-width: 1024px) {
		text-align: left;
		font-size: 1rem;
	}
}
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@media screen and (min-width: 320px) {
		width: 90%;
		flex-direction: column;
		margin: 0 auto;
	}
	@media screen and (min-width: 640px) {
		width: auto;
		max-width: 100%;
		flex-direction: row;
		padding: 0 20px;
	}
	h2 {
		font-size: 1rem;
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	}
	ul {
		width: 300px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		list-style: none;
		text-decoration: none;
		padding: 5px;
		margin: 0;
		li::after {
			content: "/";
			padding-left: 12px;
		}
		li:nth-child(4)::after {
			content: none;
		}
		li {
			a {
				text-decoration: none;
				color: black;
				@media screen and (min-width: 320px) {
					font-size: 0.85rem;
				}
				@media screen and (min-width: 640px) {
					font-size: 1rem;
				}
			}
		}
	}
}

/*Home page*/
/* .hero h1, */
.hero {
	text-align: center;
	line-height: 0.5;
	@media screen and (min-width: 320px) {
		padding: 10px 0 30px 0;
	}
	@media screen and (min-width: 640px) {
		padding: 120px 0;
	}
	p {
		color: #ababab;
		text-align: center;
	}
}

h2,
h3,
footer {
	font-family: "Courier New", Courier, monospace;
}
.content {
	width: 100%;
	display: flex;
	overflow: hidden;
	@media screen and (min-width: 320px) {
		flex-direction: column;
		align-items: center;
		height: -webkit-min-content;
		height: -moz-min-content;
		height: min-content;
	}
	@media screen and (min-width: 640px) {
		flex-direction: row;
		align-items: flex-start;
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
		height: 310px;
	}
	@media screen and (min-width: 1024px) {
		height: 330px;
	}
}

.content aside,
.content .experience,
.content .education {
	height: 100%;
	display: flex;
	flex-shrink: 0;
	text-align: left;
	@media screen and (min-width: 320px) {
		border-top: 1px solid #000;
	}
	@media screen and (min-width: 640px) {
		height: 100%;
		border: none;
	}
}

.content aside {
	margin: 0;
	padding: 0;
	flex-direction: column;
	h2 {
		@media screen and (min-width: 320px) {
			width: 100%;
		}
		@media screen and (min-width: 640px) {
			width: 80%;
			padding: 0 20px;
		}
	}
	ul {
		width: 100%;
		margin: 0;
		li {
			p {
				@media screen and (min-width: 320px) {
					padding: 10px 0;
					text-align: center;
					font-size: 0.95rem;
					background-color: #f5f5f5;
					border-top: 1px solid #000;
				}
				@media screen and (min-width: 640px) {
					padding: 5px 20px;
					text-align: left;
					font-size: 0.85rem;
					border: none;
					background-color: transparent;
					border-top: 1px solid #000;
				}
				@media screen and (min-width: 1024px) {
					padding: 5px 20px;
					text-align: left;
					font-size: 1rem;
					border: none;
					background-color: transparent;
					border-top: 1px solid #000;
				}
			}
		}
	}
	@media screen and (min-width: 320px) {
		width: 100%;
		text-align: center;
	}
	@media screen and (min-width: 640px) {
		width: 20%;
		text-align: left;
	}
	@media screen and (min-width: 1024px) {
		width: 30%;
		text-align: left;
	}
}

.content .experience {
	section {
		width: 100%;
		h3 {
			margin: 0;
			@media screen and (min-width: 320px) {
				font-size: 0.85rem;
			}
			@media screen and (min-width: 640px) {
				width: 80%;
				font-size: 1rem;
			}
		}
		a {
			text-decoration: none;
			color: blue;
			font-weight: 500;
			@media screen and (min-width: 320px) {
				font-size: 0.75rem;
			}
			@media screen and (min-width: 640px) {
				font-size: 0.85rem;
			}
			@media screen and (min-width: 10246px) {
				font-size: 1rem;
			}
		}
		p {
			text-align: left;
		}
		@media screen and (min-width: 320px) {
			background-color: #f5f5f5;
			padding: 20px;
			border-top: 1px solid #000;
		}
		@media screen and (min-width: 640px) {
			background-color: transparent;
			padding: 10px 0;
			padding-left: 20px;
			border: none;
			border-top: 1px solid #000;
		}
	}
	@media screen and (min-width: 320px) {
		width: 100%;
		justify-content: flex-start;
		flex-direction: column;
		align-items: flex-start;
	}
	@media screen and (min-width: 640px) {
		width: 30%;
		border-left: 1px solid #000;
		border-right: 1px solid #000;
		padding-right: 20px;
		overflow-x: hidden;
	}
	header {
		width: 100%;
		@media screen and (min-width: 320px) {
			text-align: center;
		}
		@media screen and (min-width: 640px) {
			text-align: left;
			padding-left: 20px;
		}
	}
}

.content .education {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	@media screen and (min-width: 320px) {
		width: 100%;
		border-bottom: 1px solid #000;
		padding: 0 20px;
	}
	@media screen and (min-width: 640px) {
		width: 41.75%;
	}
	header {
		width: 100%;
		p {
			padding: 20px;
			text-align: left;
			@media screen and (min-width: 640px) {
				width: 90%;
				padding: 0;
			}
			@media screen and (min-width: 1024px) {
				width: 80%;
			}
		}
		h2 {
			margin-bottom: 5px;
			@media screen and (min-width: 320px) {
				text-align: center;
			}
			@media screen and (min-width: 640px) {
				text-align: left;
			}
		}
	}
	.list-heading {
		margin: 0;
		margin-top: 10px;
		width: 100%;
		text-align: left;
		@media screen and (min-width: 320px) {
			padding: 0 20px;
			font-size: 0.85rem;
		}
		@media screen and (min-width: 640px) {
			font-size: 0.85rem;
			padding: 0;
		}
		@media screen and (min-width: 1024px) {
			font-size: 1rem;
			padding: 0;
		}
	}
	ul {
		width: 100%;
		list-style: none;
		line-height: 0.5;
		@media screen and (min-width: 320px) {
			padding: 0 20px;
		}
		@media screen and (min-width: 640px) {
			padding: 0;
		}
		li {
			p {
				text-align: left;
			}
			p::before {
				content: "-";
				margin-right: 10px;
			}
		}
	}
}
.education ul,
.content aside ul {
	list-style: none;
	padding: 0;
}
.reviews {
	margin: 0 auto;
	h2 {
		@media screen and (min-width: 320px) {
			text-align: center;
		}
		@media screen and (min-width: 640px) {
			text-align: left;
			padding: 10px 20px;
		}
	}
	@media screen and (min-width: 320px) {
		width: 90%;
		text-align: center;
	}
	@media screen and (min-width: 640px) {
		width: 100%;
		text-align: left;
	}
	section {
		width: 100%;
		display: flex;
		@media screen and (min-width: 320px) {
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
		}
		@media screen and (min-width: 640px) {
			width: 100%;
			flex-direction: row;
			padding-left: 5px;
			justify-content: space-evenly;
		}
		@media screen and (min-width: 1024px) {
			width: 100%;
			flex-direction: row;
			justify-content: space-evenly;
		}
		article {
			width: 100%;
			text-align: left;
			border: 1px solid #000;
			border-radius: 30px;
			p {
				text-align: left;
			}
			@media screen and (min-width: 320px) {
				width: 90%;
				padding: 15px 20px;
				margin-bottom: 10px;
			}
			@media screen and (min-width: 480px) {
				width: 92.5%;
				padding: 15px 20px;
				margin-bottom: 10px;
			}
			@media screen and (min-width: 640px) {
				width: 25%;
				max-width: 300px;
				padding: 20px;
			}
			@media screen and (min-width: 1024px) {
				width: 30%;
			}
			header {
				color: #c6c6c6;
				padding-top: 0;
				cite {
					font-style: inherit;
				}
				p {
					color: #c6c6c6;
					padding: 0;
					text-align: left;
				}
			}
		}
	}
}

/*Projects page*/
.projects-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	@media screen and (min-width: 320px) {
		width: 90%;
		align-items: center;
		line-height: 0.7;
		margin: 10px auto 30px auto;
	}
	@media screen and (min-width: 640px) {
		width: 100%;
		padding: 0 20px;
		align-items: flex-start;
		line-height: 0.3;
		margin: 10px auto 40px auto;
	}
	@media screen and (min-width: 1024px) {
		line-height: 0.4;
	}
}

.projects {
	width: 100%;
	height: auto;
	display: grid;
	gap: 15px;
	padding: 0 20px;
	grid-template-columns: repeat(auto-fill, minmax(318px, 1fr));
	grid-template-rows: repeat(auto-fill, minmax(auto, 1fr));
	@media screen and (min-width: 320px) {
		width: 90%;
		margin: 0 auto;
		padding: 0;
		line-height: 1.2;
		grid-template-columns: 1;
		grid-template-rows: auto;
	}
	@media screen and (min-width: 640px) {
		width: 100%;
		line-height: 0.7;
	}
	@media screen and (min-width: 1024px) {
		padding: 0 20px;
		line-height: 0.4;
	}
	.project {
		display: flex;
		flex-direction: column;
		border: 1px solid #000;
		border-radius: 15px;
		padding: 10px;
		height: auto;
		@media screen and (min-width: 320px) {
			margin: 0 auto;
			width: -webkit-min-content;
			width: -moz-min-content;
			width: min-content;
		}
		@media screen and (min-width: 640px) {
			width: 300px;
			align-items: flex-start;
			margin: 0 auto;
		}
		@media screen and (min-width: 1024px) {
			margin: 0;
		}
		img {
			padding: 0;
			border: 1px solid #000;
			border-radius: 15px;
			@media screen and (min-width: 320px) {
				width: 280px;
				height: 150px;
			}
			@media screen and (min-width: 640px) {
				height: 160px;
				width: 300px;
			}
		}
		.project-heading {
			width: 100%;
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			margin-top: 12px;
			div {
				margin: 0;
				text-align: left;
				padding-left: 3px;
				h2 {
					margin: 0;
					font-size: 1.05rem;
				}
				p {
					text-align: left;
					color: #656565;
					line-height: 1.24;
					font-weight: normal;
					font-size: 0.85rem;
					padding: 0;
					margin-top: 5px;
				}
			}
			a {
				font-size: 0.85rem;
				-webkit-text-decoration: none;
				text-decoration: none;
				img {
					width: 30px;
					height: 30px;
					border: none;
					padding: 0;
				}
			}
		}
	}
}

/*Articles Page*/
.articles {
	@media screen and (min-width: 320px) {
		width: 90%;
		margin: 0 auto;
	}
	@media screen and (min-width: 640px) {
		width: auto;
		padding: 0 20px;
	}
	h1 {
		padding: 0;
		margin: 17.5px 0 30px 0;
		@media screen and (min-width: 320px) {
			text-align: center;
		}
		@media screen and (min-width: 640px) {
			text-align: left;
		}
	}
	ul {
		list-style: none;
		margin: 0;
		@media screen and (min-width: 320px) {
			width: 90%;
			padding: 0;
			margin: 0 auto;
		}
		@media screen and (min-width: 640px) {
			width: 100%;
			padding-right: 20px;
		}
		@media screen and (min-width: 640px) {
			width: 75%;
			padding-right: 20px;
		}
		li {
			border: 1px solid #000;
			padding: 10px 15px;
			border-radius: 15px;
			margin-bottom: 10px;
			a {
				font-family: "Courier New", Courier, monospace;
				color: #000;
				font-weight: 600;
				@media screen and (min-width: 320px) {
					line-height: 10px;
					font-size: 0.9rem;
				}
				@media screen and (min-width: 640px) {
					font-size: 1rem;
				}
			}
			p {
				padding: 0;
				color: #656565;
				letter-spacing: 0.5px;
				margin-top: 10px;
				text-align: left;
				@media screen and (min-width: 320px) {
					font-size: 0.75rem;
				}
				@media screen and (min-width: 640px) {
					font-size: 0.85rem;
				}
			}
		}
	}
}

footer {
	width: 100%;
	text-align: center;
	padding: 20px 0;
	font-weight: 550;
	@media screen and (min-width: 640px) {
		padding: 100px 0;
	}
}
